@font-face {
  font-family: "FontHeading";
  src: url("fonts/Satoshi-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontBold";
  src: url("fonts/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FontItalic";
  src: url("fonts/Satoshi-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FontLight";
  src: url("fonts/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RanadeBold";
  src: url("fonts/Ranade-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  padding: 5px;
  width: 100%;
  z-index: 1000;
}

#nav-heading {
  display: flex;
  align-items: center;
  font-size: 30px;
  text-align: center;
  padding-left: 10px;
  font-family: FontHeading;
}

#nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  font-family: FontLight;
}

.nav-item {
  padding: 5px;
  text-decoration: none;
  font-family: FontLight;
}

.nav-item:hover {
  color: rgb(133, 18, 133);
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

#nav-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-btns button,
svg {
  margin-right: 50px;
}

#nav-hire {
  margin-right: 10px;
  width: 100px;
  height: 50%;
  border-radius: 40px;
  border: none;
  background-color: rgb(133, 18, 133);
  border: 2px solid rgb(133, 18, 133);
  color: white;
  font-weight: 500;
  font-size: 16px;
}

#nav-mode {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
}

.home-content {
  height: 100vh;
  padding: 110px;
  padding-top: 150px;
}

#home-info-container {
  display: flex;
  gap: 50px;
}

#home-info-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

#home-info-left h1 {
  font-size: 80px;
  margin: 0;
  font-family: FontHeading;
  line-height: 90%;
}

#home-info-left p {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: FontLight;
  font-size: 22px;
}

#home-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#home-download,
#home-play {
  font-weight: 700;
  font-family: FontItalic;
  border: none;
}

#home-download:hover,
#home-play:hover,
#nav-hire:hover {
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

#home-play {
  position: relative;
  right: 0%;
  left: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: gray;
  background-color: whitesmoke;
  padding-left: 6px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

#home-info-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#home-info-right video {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 60% 40% 55% 35% / 50% 65% 35% 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: border-radius 0.5s ease;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  border-radius: 50px;
  background-color: rgb(133, 18, 133);
  color: white;
}


.services-container,
.projects-container {
  padding-left: 110px;
  padding-right: 110px;
  margin-top: 1vh;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(3, 30%);
  gap: 10px;
}

.cell {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
}

.cell:hover {
  transform: scale(1.2);
  transition: ease 0.5s;
}

.cell-pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cell img {
  width: 100%;
  height: 100%;
}

.wide {
  grid-column: span 2;
  background-color: rgba(144, 238, 144, 0.5);
}

#flask-cell {
  background-color: rgba(255, 180, 82, 0.5);
}

#html-cell {
  background-color: rgba(255, 218, 185, 0.5);
}

#powerbi-cell {
  background-color: rgba(255, 199, 95, 0.5);
}

#css-cell,
#flask-cell,
#powerauto-cell {
  padding: 10px;
}

#css-cell {
  background-color: rgba(112, 171, 220, 0.5);
}

#powerauto-cell {
  background-color: rgba(100, 148, 237, 0.5);
}

#powerapp-cell {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(255, 205, 255, 0.5);
}

#js-cell {
  padding: 10px;
  background-color: rgba(109, 5, 109, 0.5);
}

#sql-cell {
  background-color: rgba(144, 238, 144, 0.5);
}

.tall {
  grid-row: span 2;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(240, 128, 128, 0.5);
}

#services-content {
  display: flex;
  align-items: stretch;
  /* makes children match height */
  gap: 20px;
  padding-top: 1vh;
}

.services-content-left {
  flex: 1;
}

#services-content-right {
  flex: 1;
  display: flex;
  align-items: stretch;
}

#services-content-right img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#services-content-right p {
  position: relative;
  top: 40%;
  right: 40%;
  font-size: 30px;
  font-family: FontBold;
  width: 30%;
  color: rgb(34, 34, 34);
}

#services-content-right span {
  color: purple;
  font-weight: 900;
  font-size: 80px;
  font-family: RanadeBold;
}

#years-exp {
  transition: transform 5s;
  transform-origin: center center;
  display: inline-block;
}

#years-exp:hover {
  animation: text-scale 2s ease-in-out infinite;
}

@keyframes text-scale {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }
}

#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* FLIP CARD */
.flip-card-gallery {
  width: 35%;
}

.gallery-items {
  display: flex;
  justify-content: center;
}

.gallery-items li {
  list-style: none;
  padding: 10px;
  padding-left: 45px;
  font-size: 30px;
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 400px;
  perspective: 1000px;
  flex: 1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

#flip-video:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.sprayVideosContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 60% 40% 55% 35% / 50% 65% 35% 50%;
  overflow: hidden;
}

.assetImgs {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.assetImgs img {
  object-fit: cover;
}

.flip-card-front {
  background-color: #fff;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-back {
  background-color: rgba(100, 148, 237, 0.553);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.flip-card-front video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit:contain;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

#projects-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: FontHeading;
  font-size: 2rem;
  margin-bottom: 30px;
}

#projects-heading::before,
#projects-heading::after {
  content: '';
  flex: 1;
  height: 2px;
  background: #b6b6b677;
}

.project-info {
  margin: 0;
  margin-bottom: 10vh;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.project-text {
  margin: 0;
  flex: 2;
  padding-left: 5%;
}

.project-text h3 {
  font-family: FontBold;
  border-radius: 10px;
  padding: 10px;
}

#project-header-1 {
  background-color: rgba(100, 148, 237, 0.28);
  color: cornflowerblue;
}

#project-header-2 {
  background-color: rgba(144, 238, 144, 0.5);
  color: rgb(35, 59, 35);
}

#project-header-3 {
  background-color:rgba(255, 205, 255, 0.5);
  color: rgb(92, 39, 92);
}

#project-header-4 {
  background-color:rgba(255, 229, 205, 0.5);
  color: rgb(255, 183, 115);
}


.project-text p {
  margin-top: 10px;
  font-family: FontLight;
  font-size: large;
}

.project-tools {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  justify-content: end;
}
.project-tools img {
  width: 80px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 8px;
  object-fit: contain;
  transition: transform 0.7s;
}
.project-tools img:hover {
  transform: scale(1.2);
}

.dots {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: rgb(165, 165, 165);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: rgb(64, 123, 234);
}

.carousel-video.active {
  display: block;
}

.carousel-video {
  display: none;
}

/* Media Query */
@media only screen and (max-width: 1000px) {

  #home-info-container {
    flex-wrap: wrap;
  }

  #home-info-left {
    width: 100%;
  }

  #nav-items {
    visibility: hidden;
  }

}


@media only screen and (max-width: 500px) {

  #services-content {
    flex-wrap: wrap;
  }

}